body {
  background-color: #cacaca; }

.navbar-collapse {
  background-color: #5099e2; }

.jumbotron {
  background-color: #a6d455;
  color: black;
  margin-top: 50px;
  height: 100px; }

.footer {
  background-color: gray;
  color: white;
  height: 200px; }

button {
  background-color: beige;
  overflow: auto; }

nav {
  height: 50px; }

h1 {
  color: white; }

ion-icon {
  padding-right: 5px; }

.movies {
  margin: 80px 0px; }

.active {
  text-decoration: underline; }

thead {
  background-color: #5099e2; }

.card-img-top2 {
  width: 200px; }
